# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# LaTeX build artifacts
report/*.aux
report/*.log
report/*.lof
report/*.lot
report/*.out
report/*.toc
report/*.synctex.gz
report/chapters/*.aux

# OS
.DS_Store
Thumbs.db
